{% extends 'base.html' %}

    {% block header %}
        <h1>映画紹介ページ<h1/>
    {% endblock header %}

    {% block content %}
      {% for movie in movies %}
        <div class="container">
          <div class="row">
              <div class="card">
              <div class="card-header">{{ movie.release_date }}</div>
                  <div class="card-body">
                      <h5 class="card-title">{{ movie.genre.name }}</h5>
                      <p class="card-text">{{ movie.title }}</p>
                      <a href="{{movie.id}}/" class="btn btn-primary">詳細ページ</a>
                  </div>
              </div>
          </div>
        </div>
      {% endfor %}
    {% endblock content %}