{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <h1 class="text-center">欢迎光临本站</h1>
        <hr>
    <div class="row">
        <div class="col-md-6">
            <h5>最热的电影</h5>
            {% for movie in movies %}
{#                <p>{{ forloop.counter }} - <a href="{% url 'movie:movie_info' movie.id %}">{{ movie.title }}</a></p>#}
                <div class="card bg-dark" style="margin: 10px;">
                <div class="card-header text-danger">No.{{ forloop.counter }} </div>
{#                <img src="{{ movie.cover.url }}" alt="" class="img-fluid" height="100">#}
                <div class="card-body">

                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <h5><a href="{% url 'movie:movie_info' movie.id %}">{{ movie.title }} ({{ movie.year }})</a></h5>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="row">
                            <div class=rating-review" data-rating-stars="10" data-rating-readonly="true" data-rating-half="true" data-rating-value="{{ movie.rating }}"></div>
                            <span class="badge-danger badge-pill text-warning" id="rating-preview">{{ movie.rating }}</span></div>
                            </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div >
                        <div class="float-left">
                            <button class="btn btn-outline-danger btn-sm" title="点赞" onclick="LikeMovie({{ movie.id }})"><i class="fas fa-thumbs-up"></i><span id="like_{{ movie.id }}_num">{{ movie.likes }}</span></button>
                            <button class="btn btn-outline-danger btn-sm" title="拍砖" onclick="DislikeMovie({{ movie.id }})"><i class="fas fa-thumbs-down"></i><span id="dislike_{{ movie.id }}_num">{{ movie.dislikes }}</span></button>
                            <a class="btn btn-outline-danger btn-sm" title="查看影评" href=""><i class="fas fa-comment"></i><span id="comments_{{ movie.id }}_num">{{ movie.reviews.count }}</span></a>
                        </div>
                        <div class="float-right">
                            <button class="btn btn-outline-warning btn-sm" title="收藏" onclick="FavouriteMovie({{ movie.id }})"><i class="fas fa-star"></i><span id="favourite_{{ movie.id }}_num">{{ movie.favourites }}</span></button>
                            <button class="btn btn-outline-warning btn-sm" title="观看" onclick="WatchMovie({{ movie.id }})"><i class="fas fa-film"></i><span id="watch_{{ movie.id }}_num">{{ movie.watches }}</span></button>
                        </div>
                        </div>

                </div>
            </div>
            {% empty %}
                <a href="{% url 'movie:movie_create' %}" class="btn btn-primary"><i class="fas fa-plus"></i> 登记一部电影</a>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <h5>我的观影记录</h5>
            {% for movie in watched_movies %}
{#                <p>{{ forloop.counter }} - <a href="{% url 'movie:movie_info' movie.id %}">{{ movie.title }}</a></p>#}
                <div class="card bg-dark" style="margin: 10px;">
                <div class="card-header text-danger">No.{{ forloop.counter }} </div>
{#                <img src="{{ movie.cover.url }}" alt="" class="img-fluid" height="100">#}
                <div class="card-body">

                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <h5><a href="{% url 'movie:movie_info' movie.id %}">{{ movie.title }} ({{ movie.year }})</a></h5>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="row">
                            <div class=rating-review" data-rating-stars="10" data-rating-readonly="true" data-rating-half="true" data-rating-value="{{ movie.rating }}"></div>
                            <span class="badge-danger badge-pill text-warning" id="rating-preview">{{ movie.rating }}</span></div>
                            </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div >
                        <div class="float-left">
                            <button class="btn btn-outline-danger btn-sm" title="点赞" onclick="LikeMovie({{ movie.id }})"><i class="fas fa-thumbs-up"></i><span id="like_{{ movie.id }}_num">{{ movie.likes }}</span></button>
                            <button class="btn btn-outline-danger btn-sm" title="拍砖" onclick="DislikeMovie({{ movie.id }})"><i class="fas fa-thumbs-down"></i><span id="dislike_{{ movie.id }}_num">{{ movie.dislikes }}</span></button>
                            <a class="btn btn-outline-danger btn-sm" title="查看影评" href=""><i class="fas fa-comment"></i><span id="comments_{{ movie.id }}_num">{{ movie.reviews.count }}</span></a>
                        </div>
                        <div class="float-right">
                            <button class="btn btn-outline-warning btn-sm" title="收藏" onclick="FavouriteMovie({{ movie.id }})"><i class="fas fa-star"></i><span id="favourite_{{ movie.id }}_num">{{ movie.favourites }}</span></button>
                            <button class="btn btn-outline-warning btn-sm" title="观看" onclick="WatchMovie({{ movie.id }})"><i class="fas fa-film"></i><span id="watch_{{ movie.id }}_num">{{ movie.watches }}</span></button>
                        </div>
                        </div>

                </div>
            </div>
            {% empty %}
                <p>暂未观影<a href="{% url 'movie:movie_search' %}" class="btn btn-primary"><i class="fas fa-search"></i> 搜一搜</a></p>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}


{% block script %}
    {{ block.super }}
    {% load static %}
    <script type="text/javascript" src="{% static "jquery-rating-star/rating.js" %}"></script>
    <script>
    function WatchMovie(movie_id) {
        $.ajax({
            url: `/movie/movie_watch/${movie_id}`,
            type: 'get',
            success: function (result) {
                $(`#watch_${movie_id }_num`).text(result.watches);
                $.toast({
                    content: '跳转中...',
                    type: 'info',
                    delay: 5000
                });
                setTimeout(function () {
                    window.location.assign(result.url);
                }, 1500)
            }
        })
    }

    function LikeMovie(movie_id){
        $.ajax({
            url: `/movie/movie_like/${movie_id}`,
            type: 'get',
            success: function (result) {
                $(`#like_${movie_id}_num`).text(result.likes);
                $(`#dislike_${movie_id}_num`).text(result.dislikes);

                $.toast({
                    content: result.msg,
                    type: 'info',
                    delay: 5000
                });
            }

        })
    }
    function DislikeMovie(movie_id){
        $.ajax({
            url: `/movie/movie_dislike/${movie_id}`,
            type: 'get',
            success: function (result) {
                $(`#like_${movie_id}_num`).text(result.likes);
                $(`#dislike_${movie_id}_num`).text(result.dislikes);
                $.toast({
                    content: result.msg,
                    type: 'info',
                    delay: 5000
                });
            }

        })
    }
    function FavouriteMovie(movie_id) {
        $.ajax({
            url: `/movie/movie_favourite/${movie_id}`,
            type: 'get',
            success: function (result) {
                $(`#favourite_${movie_id}_num`).text(result.favourites);
                $.toast({
                    content: result.msg,
                    type: 'info',
                    delay: 5000
                });
            }
        })
    }
    function placeHolder() {

    }
    </script>
{% endblock %}
