{% extends 'base.html' %}

    {% block header %}
        <h1>お気に入りの作品<h1/>
    {% endblock header %}

    {% block content %}
      {% for movielike in movielikes %}
        <div class="container">
          <div class="row">
              <div class="card">
              <div class="card-header">{{ movielike.movie.release_date }}</div>
                  <div class="card-body">
                      <h5 class="card-title">{{ movielike.movie.genre.name }}</h5>
                      <p class="card-text">{{ movielike.movie.title }}</p>
                      <a href="/movie/{{movielike.movie.id}}/movielike" class="btn btn-primary">お気に入り</a>{{ movielike.movie.like_num }}
                      <a href="/movie/{{movielike.movie.id}}/" class="btn btn-primary">詳細ページ</a>
                  </div>
              </div>
          </div>
        </div>
      {% endfor %}
    {% endblock content %}