{% extends '_layout.html' %}
{% load static %}


{% block nav %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container">
    <a class="navbar-brand" href="#">
{#        <i class="fas fa-film"></i>#}
        <img src="{% static 'image/logo.png' %}" alt="logo" class="img-fluid" width="100">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-kit" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-film"></i> 电影</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown-kit">
                {% if user.is_superuser %}<a class="dropdown-item" href="{% url 'movie:movie_create' %}"><i class="fas fa-plus-circle"></i> 登记电影</a>{% endif %}
                <a class="dropdown-item" href="{% url 'movie:movie_list' %}"><i class="fas fa-list"></i> 所有电影</a>
            </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-result" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-scroll"></i> 影评</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown-result">
                <a class="dropdown-item" href="{% url 'movie:review_create' %}"><i class="fas fa-plus-circle"></i> 撰写影评</a>
                <a class="dropdown-item" href="{% url 'movie:review_list' %}"><i class="fas fa-list"></i> 所有影评</a>
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'movie:movie_search' %}" id="navbarDropdown-post"><i class="fas fa-search"></i> 搜索</a>
        </li>

      </ul>
      <ul class="navbar-nav float-right">
          {% if user.is_authenticated %}
              <li class="nav-item"><a href="{% url 'movie:user_profile_notices' %}?only=new" class="nav-link"><i class="fas fa-bell"></i> <span class="badge-success badge-pill" id="new-notice-num" style="display: none">5</span></a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-user" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               欢迎 <img src="{{ user.avatar_url }}" alt="" class="img-fluid rounded-circle" width="30"> {{ user.username }}</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown-user">
                    {% if user.is_superuser %}<a class="dropdown-item" href="/admin"><i class="fas fa-user-shield"></i> Goto Admin</a>{% endif %}
                    <a class="dropdown-item" href="{% url 'users:password_change' %}"><i class="fas fa-key"></i> 修改密码</a>
                    <a class="dropdown-item" href="{% url 'movie:user_profile_info' %}"><i class="fas fa-user-cog"></i> 我的档案</a>
                    <a class="dropdown-item" href="{% url 'movie:user_profile_notices' %}"><i class="fas fa-envelope"></i> 我的通知</a>
                    <a class="dropdown-item" href="{% url 'users:logout' %}"><i class="fas fa-sign-out-alt"></i> 退出</a>
                </div>
            </li>

              {% else %}
              <li class="nav-item"><span class="navbar-text">欢迎光临本站</span></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}"><i class="fas fa-sign-in-alt"></i> Login</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'users:register' %}"><i class="fas fa-user-plus"></i> Register</a></li>
          {% endif %}
      </ul>
    </div>
</div>
     </nav>
{% endblock nav %}
{% block messages %}
    {% load bootstrap4 %}
    <div class="container">
    {% bootstrap_messages %}
    </div>
{% endblock messages %}

{% block footer %}
<footer class="footer text-danger">
      <div class="container">
          <div class="row">
              <div class="col-md-6"><i class="fas fa-film"></i> Movie Recommend</div>
              <div class="col-md-6 d-none d-md-block d-lg-block"><span class="float-right ">Django <i class="fa fa-fw fa-copyright"></i>2019</span></div>
          </div>
      </div>
</footer>
{% endblock footer %}

{% block script_notice %}
    <script>
    let newNoticeNumDisplay = $('#new-notice-num');
    function getNumOfNewNotices() {
        $.ajax({
            url: "{% url 'movie:get_new_notices_num' %}",
            type: 'get',
            success: function (result) {
                newNoticeNumDisplay.text(result.notices_num);

                if (result.notices_num > 0){
                    newNoticeNumDisplay.show();
                } else {
                    newNoticeNumDisplay.hide();
                }

                setTimeout(getNumOfNewNotices, 2000);
            },
            error: function (msg) {
                setTimeout(getNumOfNewNotices, 2000);
            }
        });

    }
    $(document).ready(function () {
        getNumOfNewNotices();
    })
    </script>
{% endblock %}