{% extends 'base.html' %}

    {% block header %}
        <h1>口コミの修正<h1/>
    {% endblock header %}

    {% block content %}
        <form action="/post/{{ post.id }}/update/" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.movie.label_tag }}</td>
                    <td>{{ form.movie }}</td>
                </tr>
                <tr>
                    <td>{{ form.tags.label_tag }}</td>
                    <td>{{ form.tags }}</td>
                </tr>
                <tr>
                    <td>{{ form.content.label_tag }}</td>
                    <td>{{ form.content }}</td>

                </tr>
            </table>

            <button type="submit">修正</button>
        </form>
    {% endblock content %}